---
layout: default
title: Meet Kevin Kirchner, View His Work, and Read His Writings
---
<section id="welcome">
    <div class="left">
    <h2>Hello, my name is <strong>Kevin Kirchner</strong></h2>
    <p>I'm an idea-driven prioneer,<br/> an architect of interfaces,<br/> and an entrepreneur.</p>
    </div>
    <div class="right">
    <img src="/assets/images/face.jpg" alt="" class="profile-pic"/>
    </div>
</section>
<section id="blog_feature" class="clearfix">
    <h3><a href="/blog" title="Read My Blog">Read My Blog <i class="icon-chevron-sign-down"></i></a></h3>
    <ul class="blog-posts">
        {% for post in site.posts limit:5 %}
        {% if post.category != 'work' %}
        <li>
            <span>{{ post.date | date_to_string }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <a class="more-link" href="/blog" title="Read More">Read More<i class="icon-chevron-sign-right"></i></a>
</section>
<div id="about">
    <h3>Hi, I'm Kevin Kirchner <i class="icon-chevron-sign-down"></i></h3>
    <img src="/assets/images/face.jpg" alt="" class="no-display profile-pic"/>
    <section id="lovehate" class="clearfix">
        <div id="love" class="left">
            <h4 class="about-title">What I Love</h4>
            <ul>
                <li class="love-item">Initializing, Motivating, Facilitating, and Supporting an idea's journey to reality</li>
                <li class="love-item">Uncovering, meeting, and exceeding a client's most core objectives</li>
                <!--<li class="love-item">Forgetting any box exists and just creating; finding out how to make anything possible</li>-->
                <!--<li class="love-item">Influencing the world around me</li>-->
                <li class="love-item">Reconciliation</li>
                <li class="love-item">Coming up with new soccer moves</li>
            </ul>
        </div>
        <div id="hate" class="right">
            <h4 class="about-title">What I Hate</h4>
            <ul>
                <li class="hate-item">When great ideas fall on deaf ears</li>
                <li class="hate-item">Lack of freedom and justice</li>
                <li class="hate-item">Work with no purpose</li>
                <li class="hate-item">Media the dilutes Truth</li>
                <li class="hate-item">Hopelessness</li>
                <li class="hate-item">Fear</li>
            </ul>
        </div>
    </section>
    <section id="perspectives">
        <h4 class="about-title">My Perspective</h4>
        <div id="life">
            <h5 class="about-subtitle">On Life</h5>
            <blockquote class="thought">“Twenty years from now you will be more disappointed by the things you didn't do than the ones you did do.” ~Mark Twain</blockquote>
            <p class="suggestion">No one is guaranteed their next breath, so capture each moment with passion and gratitude.</p>
        </div>
        <div id="leadership">
            <h5 class="about-subtitle">On Leadership</h5>
            <blockquote class="thought">If you always try to be "the guy," you'll never be the guy. But if you're helping others be "the guy," then you'll always be the guy.</blockquote>
            <p class="suggestion">Surprising opportunities arise when you serve the people you help lead.</p>
        </div>
        <div id="work">
            <div id="general">
                <h5 class="about-subtitle">On Work</h5>
                <blockquote class="thought">1,000 hours of preparation for one moment of opportunity.</blockquote>
                <p class="suggestion">Prepare for big opportunities and you're on the road to success. Don't forget to land the plane&mdash;come down from 30,000 ft. and focus on completing the small details.</p>
            </div>
            <div id="design">
                <h5 class="about-subtitle">On Design</h5>
                <blockquote class="thought">If you can't communicate effectively, you can't design effectively.</blockquote>
                <p class="suggestion">Learning to understand others from their perspective is the core of communication and design.</p>
            </div>
<!--
            <div id="dev">
                <h5 class="about-subtitle">On Development</h5>
                <blockquote class="thought">A job worth doing is worth doing - even if it's not perfect.</blockquote>
                <p class="suggestion">Opportunity has little patience for the perfectly ideal. Avoid "perfection paralysis" and over-architecting. Your client's ROI is the measure of success (and remember "return" doesn't always mean "money").</p>
            </div>
-->
            <div id="ux">
                <h5 class="about-subtitle">On User Experience</h5>
                <blockquote class="thought">Neglect user experience and you'll only ever have one user... you.</blockquote>
                <p class="suggestion">Think, track, and act on user experience.</p>
            </div>
            <div id="ecommerce">
                <h5 class="about-subtitle">On eCommerce</h5>
                <blockquote class="thought">Someone with an ugly online store is making more money online than you with no online store.</blockquote>
                <p class="suggestion">
                    So start selling online!
                    <a href="http://tictail.com" rel="external">Tictail.com</a> is the cheapest (free), easiest, and fastest basic solution I've found so far.
                    <a href="http://magentocommerce.com" rel="external">Magento</a> is the cheapest (free/open source), most robust solution I've found so far.
                </p>
            </div>
        </div>
        <div id="technology">
            <h5 class="about-subtitle">On Progress &amp; Technology</h5>
            <blockquote class="thought">If you're not growing, you are dying.</blockquote>
            <p class="suggestion">Be agile and flexible to change. Learn to love learning and embrace change. It <em>will</em> happen. How will you affect its direction?</p>
        </div>
    </section>
<!--
    <section id="experience">
        <h4 class="about-title">Kevin's Experience</h4>
        <div id="hours">
            <h5 class="about-subtitle"># of Hours Developing User Interfaces</h5>
            <div id="hours_total">9556</div>
        </div>
        <div id="websites">
            <h5 class="about-subtitle"># of Websites Worked On</h5>
                <div id="websites_total">50</div>
                <div class="platforms">
                    <div class="magento">
                        <h6>Magento</h6>
                    </div>
                    <div class="wordpress">
                        <h6>Wordpress</h6>
                    </div>
                    <div class="drupal">
                        <h6>Drupal</h6>
                    </div>
                    <div class="other">
                        <h6>Other</h6>
                    </div>
                </div>
            </div>
        </div>
        <div id="tools">
            <h5 class="about-subtitle">Best Tools &amp; Resources</h5>
            <ul class="tools">
                <li class="tool"></li>
                <li class="tool"></li>
                <li class="tool"></li>
                <li class="tool"></li>
                <li class="tool"></li>
            </ul>
        </div>
    </section>
-->
</div>