main { display: block;}
.container { width: 800px; margin: 0 auto; text-align: left; position: relative;}

/*
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway%20300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Thin';
    src: url('../fonts/Raleway%20100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/Raleway%20400.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway ExtraBold';
    src: url('../fonts/Raleway%20700.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
*/
html {
    background: url('../images/tweed.png') 50% 0;
    -webkit-box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.25) inset;
    min-height:100%;
}
html,
body {
    font-family: 'Raleway';
    font-weight: 400;
    color: #7e716f;
    font-size: 18px;
    line-height: 1.3;
}
p { margin: 0 0 1em;}
a { color: #71a6d8; text-decoration: none;}
a:hover { text-decoration: underline;}
a:hover i { text-decoration: none;}

/* Utilities ============================= */
.a-left { text-align: left;}
.a-right { text-align: right;}
.right { float: right;}
.left { float: left;}
.no-display { display: none;}
.light-txt { color: #ccc;}
.blue-txt { color: #71a6d8;}
.light-blue-txt { color: #a8cde1;}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* GLOBAL ========================================= */
h1,h2,h3,h4,h5,h6 { color: #333; font-weight: 100; margin:0; line-height: 2.6;}
h3,h4,h5,h6 { font-weight: 700; color: #555; text-transform: uppercase;}
main h1 { font-weight: 300; line-height: 1.5; border-bottom: 1px solid #eee; margin: .25em 0 .75em;}
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i { color: #666;}

/* HEADER =========================================== */
header {padding-bottom: 15px; }
header .container {  min-height: 90px; }
header a { text-decoration: none; display: block; }
header .logo { position: absolute; left: 0; top:0; line-height: 60px; margin-top: 20px;}
header .logo a { font-size: 60px; font-weight: 200; color: #eee;}
header .logo a:hover { text-decoration: none;}
header nav { position: absolute; right:0; top:50%; line-height: 60px; margin-top: -14px; width:400px; text-align: right;}
header nav a,
header .mobile-menu { display: inline-block; margin-left: 45px; font-size: 18px; color: #eee; font-weight: 400;}
header nav a:hover { text-decoration: underline;}
header .mobile-menu { display: none;}

/* MAIN =========================================== */
main { background:#fff; padding: 30px 0 40px;}

/* FOOTER =========================================== */
footer { padding:20px 0 50px; overflow: hidden;}
footer a { display: block; text-decoration: none; color: #eee; line-height: 1.5;}
footer a:hover span { text-decoration: underline;}
footer a i { margin-right: 5px;}
footer a i.icon-linkedin-sign { margin-right: 2px;}

/* HOME =============================== */
.profile-pic { border-radius: 50%; }
#welcome { font-size: 24px; color: #666; text-align: right; margin:20px 0 40px; overflow: hidden;}
#welcome .left { width:340px; padding:80px 0 0 0; }
#welcome .right { width: 400px; }
#welcome .right .profile-pic { width: 100%; }
#welcome h2 { color: #666; font-size: 36px; font-weight: 400; line-height: 1.2;}
#welcome h2 strong { display: block; font-size: 48px; font-weight: 800;}
#welcome p { margin-top: .5em;}

#blog_feature h3 a,
#about h3 { display: block; font-size: 36px; color: #555; text-transform: none; font-weight: 200;}
#blog_feature h3 a:hover { text-decoration: none;}
#blog_feature .more-link { display: block; text-align: right; margin-top: 30px; margin-bottom: 20px;}
#blog_feature .more-link i { margin-left: 5px;}
#blog_feature .blog-posts { color: #ccc; list-style: none; margin:0; padding: 0; font-size: 16px; }
#blog_feature .blog-posts li { margin-bottom: 7px;}
#blog_feature .blog-posts a { display: block; font-size: 20px; }

/* POSTS ============================== */
main .post-title { margin-bottom: .25em;}
main .post-date { font-size: 15px; margin-bottom: 2em; }



/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/* RESPONSIVE ========================== */
@media screen and (max-width:900px) {
    .container { width: 88.88%;}
    #welcome { font-size: 22px; }
    #welcome h2 { font-size: 32px;}
    #welcome h2 strong { font-size: 40px;}
    #welcome .left { width: 42.5%;}
    #welcome .right { width: 50%;}
    header nav { width: 460px; }
}

@media screen and (max-width:850px) {
    #welcome { font-size: 18px; }
    #welcome h2 { font-size: 28px;}
    #welcome h2 strong { font-size: 36px;}
}

@media screen and (max-width:700px) {
    #welcome { font-size: 16px; }
    #welcome h2 { font-size: 24px;}
    #welcome h2 strong { font-size: 32px;}
}

@media screen and (max-width:650px) {
    footer a { line-height: 40px;}

    #welcome { margin-bottom: 20px;}
    #welcome .left { text-align: center; padding-top: 10px;}
    #welcome .right { display: none;}
    #welcome { font-size: 24px; }
    #welcome h2 { font-size: 36px;}
    #welcome h2 strong { font-size: 48px;}
    #welcome .left { float: none; width: inherit; }
    
    #blog_feature h3,
    #about h3 { text-align: center;}
    #about .profile-pic { display: block; width: 80%; margin:0 auto; display: block; max-width: 350px;}
}
@media screen and (max-width:525px) {
    header nav a { margin-left: 20px;}
    header nav { display: none; text-align: center; position: static; margin-top: 0px; margin: 15px 0 0; width: auto; clear: both; border-bottom: 1px solid #666; border-top: 1px solid #444;}
    header nav.active { display: block;}
    header nav a { display: block; line-height: 50px; font-size: 24px; border-top: 1px solid #666; border-bottom: 1px solid #444; margin: 0 !important;}
    header .mobile-menu { display: block; font-size: 25px; padding:5px 10px; line-height: 30px; margin: 40px -10px 10px 0; float: right;}
    header .mobile-menu i { margin-right: 5px;}
    header .mobile-menu:hover { text-decoration: none; }

    footer .right { text-align: left; clear: both; float: none;}
}
@media screen and (max-width:425px) {
    #welcome { font-size: 22px; }
    #welcome h2 { font-size: 30px;}
    #welcome h2 strong { font-size: 39px;}

    #about h3,
    #blog_feature h3 a { font-size: 30px;}
}

@media screen and (max-width:350px) {
    #about h3,
    #blog_feature h3 a { font-size: 26px;}
}



/* Retina-specific stuff here */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    html { background: url('../images/tweed_@2X.png') 50% 0; background-size:200px 200px;}
}