---
layout: default
title: kevnk // Read Kevin Kirchner's Writings
---

<section id="blog">
    <h1>Blog</h1>
    <ul class="blog-posts">
        {% for post in site.posts %}
        {% if post.category != 'work' %}
        <li>
            <span>{{ post.date | date: '%B %d, %Y' }}</span>
            <a href="{{ post.url }}">
            {{ post.title }}
            {% if post.img %}
                <span class="image-crop" style="height: {{ post.list_img_height }}">
                    <img data-frz-src="/assets/images/posts/{{ post.img }}" style="top: {{ post.list_img_top }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lzld(this)" onerror="lzld(this)"/>
                </span>
            {% endif %}
            </a>
            <p class="blog-excerpt">{{ post.content | strip_html | truncatewords: 35 }} <a class="more-link" href="{{ post.url }}">Read More<i class="icon-chevron-sign-right"></i></a></p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>