<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/syntax.css">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo"><a href="/">{{ site.name }}</a></h1>
                <a href="#menu" class="mobile-menu"><i class="icon-reorder"></i> Menu</a>
                <nav>
                  <a href="/work">View Work</a>
                  <a href="/blog">Read Blog</a>
                  <a href="http://kevnk.tictail.com" rel="external">Browse Store</a>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                {{ content }}
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="left">
                    <a href="mailto:hello@kevnk.com"><span>hello@kevnk.com</span></a>
                    <a href="https://www.google.com/maps?q=Springfield,+MO" rel="external"><i class="icon-map-marker"></i><span>Springfield, Missouri</span></a>
                </div>
                <div class="right a-right">
                    <a href="http://twitter.com/kevinkirchner" rel="external"><span>@kevinkirchner</span></a>
                    <a href="http://www.linkedin.com/in/kevinkirchner" rel="external"s><i class="icon-linkedin-sign"></i>kevinkirchner</a>
                </div>
            </div>
        </footer>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="/assets/js/kevnk.js"></script>
    </body>
</html>
